/* --------------------CSS RESET START-------------------- */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*--------------------CSS RESET END-------------------- */

/* CSS Variables */

:root {
  /* Color scheme */
  --primary-color: #dcdeff;
  --secondary-color: #F6EAFF;
  --background-color: #fff;
  --text-color: #333;
  --button-color: #6c63ff;
  --button-hover-color: #5349ff;
  --footer-background-color: #f8f9fa;
  --section-padding: 20px;
  --container-width: 1200px;
  --border-radius: 8px;
  --box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


/* General Styles */
body {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
    background: var(--primary-color);
    height: 100%;
  }
  
/* Utilities */
.container {
  padding: 2rem;
  max-width: var(--container-width);
  line-height: 1.6;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.text-center {
  text-align: center;
}

/* Skip Links */

.skip-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.skip-links a {
  position: absolute;
  top: -3em;
  left: 0;
  background-color: black;
  color: white;
  padding: 0.5em;
  z-index: 100; /* Ensures the link is above other content */
  transition: top 0.3s; /* Smooth transition for better UX */
}

.skip-links a:focus {
  top: 0;
}

/* Navigation */
.navbar {
  background-color: var(--background-color);
}

.navbar-brand img {
  height: 40px;
  width: auto;
}

.nav-link {
  color: var(--text-color);
}

.brand-logo img {
  max-height: 60px;
  padding: 5px;
}

/* Hero Section */
.hero-section {
  font-size: 1.5rem;
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 4rem;
}

.hero-section h1 {
  font-size: 2rem;
  margin: 2.5rem;
}

.hero-section p {
  font-size: 1.15rem;
  margin: 2.5rem;
}

/* Button Styling*/
.btn-primary {
  background-color: var(--button-color);
  border: none;
  padding: 0.75rem 1.5rem; /* Button padding */
  border-radius: 0.5rem; /* Button border-radius */
}

.btn-secondary {
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem; /* Button border-radius */
}

/* Projects Section */
.projects-section {
  padding: 4rem; /* Section padding */
  background-color: var(--background-color);
}

.projects-page {
  background-color: var(--primary-color);
}

.projects-section h1 {
  margin: 1rem;
  font-size: 2rem;
  text-align: center;
}

.projects-section h2 {
  margin: 1rem;
  font-size: 1.5rem;
}

.projects-section h3 {
  margin: 2.5rem;
  font-size: 1.25rem;
}

.projects-section p {
  margin: 1rem;
}

.projects-section .btn-secondary {
  margin: 3.5rem;
}

/* Styling for images within project section */
.projects-section img.img-fluid {
  transition: transform 0.3s ease; /* Animation effect */
  border-radius: 8px; /* Adds rounded corners */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Adds a subtle shadow */
  object-fit: cover; /* Keeps the aspect ratio and covers the area */
  height: 400px; /* Set a fixed height */
  width: 100%; /* Ensures the width is always 100% of the container */
}

/* Hover effect */
.projects-section img.img-fluid:hover {
  transform: scale(1.025); /* Slightly enlarges the image */
}

/* Responsive adjustments */
@media (min-width: 768px) {
  .project-item {
    display: flex;
    align-items: center;
  }

  .project-item img {
    margin: 4rem;
  }
}

/* About Section */
.about-section {
  background-color: var(--primary-color);
  padding: 4rem; /* Section padding */
}

.about-section h1 {
  margin: 1rem;
  font-size: 2rem;
  text-align: center;
}

.about-section h2, p {
  margin: 4rem;
}

/* Contact Section */
.contact-section {
  padding: 4rem; /* Section padding */
}

.contact-section p {
  margin: 2rem;
  text-align: center;
}

.contact-section h1 {
  margin: 1rem;
  font-size: 2rem;
  text-align: center;
}

.contact-section h2 {
  margin-bottom: 2rem; /* Spacing after the heading */
}

.contact-page {
  background-color: var(--primary-color);
}

.contact-details {
  text-align: center;
}

/* Input Styles */
input[type="text"],
input[type="email"],
textarea {
  width: 100%; /* Full width */
  padding: 0.75rem; /* Padding inside inputs */
  margin-bottom: 1rem; /* Spacing after each input */
  border: 1px solid #ccc; /* Border color */
  border-radius: 0.25rem; /* Border radius */
}

input[type="submit"] {
  background-color: #6c63ff; /* Submit button background color */
  color: white; /* Submit button text color */
  padding: 0.75rem 1.5rem;
  border: none; /* Remove border */
  border-radius: 0.5rem; /* Border radius */
  cursor: pointer; /* Cursor to indicate clickable */
}

#fixed-size-textarea {
  resize: none;  /* Disable resizing */
  overflow: auto; 
}

footer {
  background-color: var(--background-color);
}

footer i {
  margin: 5%;
  color: var(--text-color);
}

footer p {
  margin: .5rem;
}

.footer-divider {
  border: 0; /* Removes default border */
  height: 1px; /* Sets the height of the line */
  background-color: #333; /* Sets the color of the line */
  margin: 0;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #6c63ff; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
}

#myBtn:hover {
  background-color: #5349ff; /* Add a dark-grey background on hover */
}

/* ----Media Queries---- */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  .hero-section h1 {
    font-size: 1.5rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .hero-section h1 {
    font-size: 1.5rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .hero-section {
    text-align: left;
    padding-left: 60px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .hero-section h1 {
    font-size: 2rem;
  }
}